* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}
body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #fff ;
}
header li a {
    color: #fff;
    
    text-decoration: none;
}
header .container {
display: flex;
align-items: center;
justify-content: space-between;
}
.container {
    width: 1366px;
    margin: 0 auto 0 auto
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img {/*height: 180px;
*/
width: 100%;}
.articles article {width: 30%;}
section {
    padding: 16px 0;
}
section h2,
.articles article {
    margin-bottom: 16px;
}
.articles article h3 {margin-top: 10px;
    margin-bottom: 10px;}
    .articles article a {background-color: blue;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
padding: 8px;
display: inline-block;
margin-top: 8px;}

.articles article a:hover {
    text-decoration: underline;
}
.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}
.articles article h3 {
    font-size: 26px;
}
section h2 {
    font-size: 34px;
}
#sports {
    background-color: rgba(0, 255, 0, 0.1);
}
#sports .articles article a {
    background-color: forestgreen;
}
#economy {
    background-color: salmon;
}
#economy .articles article a {
    background-color: orangered;
}
#culture {
    background-color: mediumpurple;
}
#culture .articles article a {
    background-color: darkmagenta;
}
#games {
    background-color: gray;
}
#games .articles article a {
    background-color: darkgrey;
}