* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: lightgray;
    padding-top: 100px;
}

header {
    margin-bottom: 10px;

}

.container, ul li {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

input, button {
    padding: 14px;
    margin-bottom: 30px;
    font-size: 20px;
}

button {
    cursor: pointer;
    font-weight: bold;
}

ul {
    font-size: 18px;
}

ul li {
    padding-bottom: 8px;
}

ul li:hover {
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}